node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

__pycache__/

static/ecosystem_image.png
static/assets/fonts/
src/lib/stories/open-academic-analytics/venv/
src/lib/stories/open-academic-analytics/.tmp_*
.gitignore

src/lib/stories/open-academic-analytics/data/processed/
src/lib/stories/open-academic-analytics/data/raw/
